/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */


.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    justify-content: space-between
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.three ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-basis: 300px;
}

.four {
    display: flex;
    justify-content: center;
}

.four form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
}

.five {
    display: flex;
    flex-wrap: wrap;
}

.five article {
    width: 360px;
    flex-grow: 1;
}
